<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to fakebook, <%= @user.name %></h1>
    <p>
      You have successfully signed up for fakebook.
    </p>
    <p>
      To login, go to this link: <%= @url %>.
    </p>
    <p>Thanks for joining, enjoy your day</p>
  </body>
</html>