<% post.comments.each do |comment| %>
  <p>
    <%= comment.comment %></br>
    <i>Posted <%= time_ago_in_words(comment.created_at) %> ago</i>
    <% if current_user == comment.user %>
      <%= link_to 'delete', post_comment_path(post, comment), method: :delete %>
    <% end %>
  </p>
<% end %>