<h1>Users#index</h1>


<% @users.each do |user| %>
  <p>
    <strong><%= user.email %></strong>
    <%= link_to 'Add Friend', friendships_path(:friend_id => user.id), method: :post %>
  </p>
<% end %>

