<%= provide(:title, 'Users') %>

<%= render 'posts/post_form' %>

<hr>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
          <div class="table-responsive">
            <table class="table user-list">
              <thead>
                <tr>
                  <th><span>User</span></th>
                  <th><span>Friends</span></th>
                  <th class="text-center"><span>Status</span></th>
                </tr>
              </thead>
                <tbody>
                  <%= render @users %>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>