<%= provide(:title, 'Users') %>
<%= render 'posts/post_form' %>

<% @users.each do |user| %>
  <% unless user == current_user %>
    <p>
      <strong><%= link_to user.name, user_path(user) %></strong> 
      <%= render partial: 'friendships/friendships_status', locals: {user: user} %>
    </p>
  <% end %>
<% end %>

