<% if friend_request? %>
  <% current_user.requested_friends.each do |r| %>
    <li>
      <strong><%= r.name %></strong><%= link_to 'Accept', friendship_path(current_user, :friend_id => r.id), method: :put %><%= link_to 'Decline', friendship_path(current_user, :friend_id => r.id), method: :delete %>
    </li>
  <% end %>
<% else %>
    <li>No Friend Requests. <strong><%= link_to 'Find Friends', users_path %></strong></li>
<% end %>